.form {
  display: grid;
  gap: 1rem;
}

.form__item > * + * {
  margin-top: 0.5rem;
}

.form__message {
  color: hsl(var(--destructive));
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}