<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aposta Finalizada</title>
    <style>
        .botao_verde {
            display: inline-block;
            padding: 10px 20px;
            font-size: 12px;
            color: white;
            background-color: green;
            border: none;
            border-radius: 5px; 
            text-decoration: none; 
        }
        .botao_verde:hover {
            background-color: darkgreen;
        }
    </style>
    
</head>
<body>
    <h1 style="text-align: center;">SerasaBET</h1>
    <a href="{{url_for('home')}}">Home</a>
    <hr>
    <p>Olá, {{user_firstname}}</p>
    <p>Saldo R$ {{user_funds}}</p>
    <a href="{{url_for('my_wallet')}}">Minha Carteira</a>
    <br>
    <a href="{{url_for('logout')}}">Logout</a>
    <hr>
    <br>
    <h2 style="text-align: center;">Aposta criada com sucesso!</h2>
    <h2 style="text-align: center;">Boa sorte!</h2>
    <p style="color: gray; text-align: center; font-style: italic;">ID Transação: {{id_transaction}}</p>
    <br>
    <div style="text-align: center;">
        <a class="botao_verde" href="{{url_for('home')}}">Voltar a Home</a>
    </div>
</body>
</html>