<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SerasaBET</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>

<section class="hero">

    <div class="hero__content-box">
        <div class="hero__texto">
            <h1>Bem-vindo ao SerasaBET!</h1>
            <h2>Bem-vindo ao maior site de apostas! Jogue até se endividar!</h2>
        </div>


        <div class="hero__buttons">
            <a class="button" href="{{url_for('login')}}">Login</a>
            <a class="button" href="{{url_for('cadastrar')}}">Cadastrar</a>
        </div>

    </div>


</section>
</body>
</html>