<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
</head>
<body>
    <h1 style="text-align: center;">SerasaBET</h1>
    <hr>
    <h2 style="text-align: center;">Cadastro Concluído!</h2>
    <h3 style="text-align: center;">Bem-vindo, {{ user_firstname }} ao maior site de apostas!</h1>
    <form style="text-align: center" action="/login">
        <button style="align-self: center;" type="submit">Entrar</button>
    </form>
    
</body>
</html>