.event {
  padding: 1rem;

  @media (min-width: 640px) {
    & {
      padding: 2rem;
    }
  }
}

.event__title {
  font-size: 2.25rem; 
  line-height: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.event__info {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  margin-bottom: 1rem;
}

.event__row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.event__data {
  font-size: 1rem;
  line-height: 1.5rem;
}

.event__separator {
  height: 0.75rem;
  width: 1px;
  background-color: hsl(var(--muted));  
}

.event__description {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: hsl(var(--muted-foreground));
  margin-bottom: 0.75rem;
}

.event__betting-options {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}